# Site settings
course_name: Big Data and Text Analytics (BIGDaTA) Research Lab.
course_semester: "2021"

baseurl: "/marunbigdatalab/" # the subpath of your site, e.g. /blog/
url: "https://bobryke.github.io" # the base hostname & protocol for your site

schoolname: "Marmara University"
schoolurl: "https://www.marmara.edu.tr/en"
# twitter_username: username 

address: |
    Marmara University
    M2-108
    RTE Campus, Maltepe,
    ISTANBUL / TURKEY

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
