---
layout: default
---
<div style="width: 100%; float: left">
    <div class="profile-pic-gallary ">
        <h2>Instructors</h2>
        {% for ins in site.data.people.instructors %}
        <div class="image--cover-container">
            <img src="{{ins.profile_pic | prepend: site.baseurl }}" class="image--cover">
            {% if ins.webpage %}
            <p><a href="{{ ins.webpage }}">{{ins.name}}</a></p>
            {% else %}
            <p>{{ins.name}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div style="width: 100%; float: left">
    <div class="profile-pic-gallary ">
        <br>
        <br>     
        <h2>Members</h2>
        {% for ta in site.data.people.members %}
        <div class="image--cover-container">
            <img src="{{ta.profile_pic | prepend: site.baseurl }}" class="image--cover">
            {% if ta.webpage %}
            <p><a href="{{ ta.webpage }}">{{ta.name}}</a></p>
            {% else %}
            <p>{{ta.name}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>